<google-chart [data]="columnChartOptions"></google-chart>
<button type="button" class="btn btn-primary btn-lg" onClick = "window.location.reload()" >
    <span aria-hidden="true"></span>
    Update Graph
</button>

<google-chart [data]="line_ChartData"></google-chart>
<button type="button" class="btn btn-primary btn-lg" onClick = "window.location.reload()" >
    <span aria-hidden="true"></span>
    Update Graph
</button>

<google-chart [data]="mapOptions"></google-chart>
<button type="button" class="btn btn-primary btn-lg" onClick = "window.location.reload()" >
    <span aria-hidden="true"></span>
    Update Graph
</button>
