<style>
    .chart{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
</style>


<div class="chart">
    <google-chart [data]="comboChart"></google-chart>
    <button type="button" class="btn btn-primary btn-lg" (click) = "this.updateLineChart()" >
        <span aria-hidden="true"></span>
        Update Graph
    </button>
</div>


<div class="chart" style="padding-left: 5%; padding-right: 5%; padding-top: 1%; padding-bottom: 1%;">
    <google-chart [data]="columnChartOptions"></google-chart>
    <button type="button" class="btn btn-primary btn-lg" (click) = "this.updateBarChart()" >
        <span aria-hidden="true"></span>
        Update Graph
    </button>
</div>
<div class="chart">
    <google-chart [data]="line_ChartData"></google-chart>
    <button type="button" class="btn btn-primary btn-lg" (click) = "this.updateLineChart()" >
        <span aria-hidden="true"></span>
        Update Graph
    </button>
</div>


<div class="chart">
    <google-chart [data]="mapOptions"></google-chart>
    <button type="button" class="btn btn-primary btn-lg" (click) = "this.updateMap()" >
        <span aria-hidden="true"></span>
        Update Graph
    </button>
</div>

<div id = "chartDiv" padding="5%">
    <google-chart [data] = "bubbleOption"></google-chart>
    <button type="button" class="btn btn-primary btn-lg" (click) = "this.updateBubble()" >
        <span aria-hidden="true"></span>
        Update Graph
    </button>
</div>

<style>
    #chartDiv {
        background-image: url("http://localhost:2538/api/admin/gardenPicture");
        width: 1140px;
        height: 400px;
        margin-left: 5%;
        /*-moz-background-image: 'res/dt.png';*/
    }
</style>



