
<h2>Upload Photo</h2>

<p class=warningthing>WARNING: Photo filename must end with .jpg!</p>
<!--<file-upload #fu (change)="filename = undefined; uploadAttempted = false" [multiple]="false">-</file-upload>-->


<!--<image-upload #iu (change)="filename = undefined; uploadAttempted = false" [multiple]="false">-</image-upload>
-->





<div *ngIf="flowerName !== undefined && uploadAttempted === true"> Your file was successfully uploaded as data set {{this.filename}}.
</div>
<!--<div *ngIf="newFileName === undefined && uploadAttempted === true">File upload failed - Please Name Photo.</div>-->
<div *ngIf="flowerName === undefined && uploadAttempted === true">File upload failed - Please Select A Flower.</div>

<br>

<!--<input #nameInput type="text" placeholder="Name For Your Photo" (input)="newFileName = $event.target.value">-->

<div class="flowerFilter">

    <!--Dropdown for beds, needs to be worked on-->

    <!--<div class="dropdown">-->
        <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle"> {{ bedDropDownName }} <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->
            <!--<li *ngFor="let bed of bedListService.getBedNames()" (click)="setBed(bed.bedName)">-->
                <!--<a>-->
                    <!--<h4>{{ bed.bedName }}</h4>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->


    <br>

    <!--Option A, display a dropdown with no search filter-->


    <!--<div class="dropdown">-->
        <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle"> {{ flowerDropDownName }} <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->
            <!--<li *ngFor="let plant of plantListService.getFilteredPlants()" (click)="setFlower(plant.cultivar)">-->
                <!--<a>-->
                    <!--<h4>{{ plant.commonName }}</h4>-->
                    <!--{{ plant.cultivar}}-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--Option B, dropdown with search filter-->

    <label>
        {{ flowerDropDownName }}
        <input #flowerNameInput list="flowerOptions" (input)="flowerName = $event.target.value">
        <datalist id="flowerOptions">
            <li *ngFor="let plant of plantListService.getFilteredPlants()">
                <option>
                    <h4>{{ plant.cultivar }}</h4>
                </option>
            </li>
        </datalist>
    </label>

</div>

<br>
<br>

<!--<input #flowerNameInput type="text" placeholder="Name of Flower in Photo" (input)="flowerName = $event.target.value">-->


<br>
<br>

<div>
    <!--https://developers.google.com/web/fundamentals/native-hardware/capturing-images/-->
    <button type="button" class="btn btn-primary btn-lg">
        <image-upload #iu (change)="filename = undefined; uploadAttempted = false" [multiple]="false">-</image-upload>
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
    </button>

</div>

<br>

<button *ngIf="filename === undefined" class="btn btn-primary" (click)="this.handleUpload()" style="margin-top: 10px">
    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
    Upload
</button>

<div>
    <button  [routerLink]="['/admin']" class="btn btn-primary" style="float: right">Back to Admin Page</button>
</div>

<style>

    .warningthing {color: red}

</style>