<!--
    Provides an interface to view and interact with all Bed specific data.

    @author Iteration 2 - Team Omar Anwar
-->
<!DOCTYPE html>

<html>
    <head>
        <style>
            a {
                text-decoration: none;
                color: white;
            }
            #bed-list {
                list-style-type: none;
                background-color: #333;
                height: 95%;
                padding: 8%;
            }
            li {
                font-size: 150%;
                text-align: center;
                padding-bottom: 16%;
            }

        </style>
    </head>

        <div id="bed-list-view">

            <div id="bed-list-header">
                <a class="active"
                   (click)="handleBedListClick($event.target.textContent)">{{BED_LIST_HEADER}}
                </a>
            </div>

            <ul id="bed-list">
                <li *ngFor="let bed of bedNames" (click)="handleBedListClick($event.target.textContent)">
                    <a [routerLink]="['/bed', bed._id]">{{ bed._id }}</a>
                </li>
            </ul>

        </div>

</html>
