<!--
    Provides an interface to view PlantListComponent filtering options.

    @author Iteration 1 - Team Rayquaza
    @editor Iteration 2 - Team Omar Anwar
    @editor Iteration 3 - Team Revolver en Guardia
    @editor Iteration 4 - Team Revolver en Guardia++
-->
<!DOCTYPE html>
<html>
<head>

    <style>

        .select{

        }

    </style>

</head>

<div class="filter-bar">

    <select>
        <option value="volvo">1S</option>
        <option value="saab">2S</option>
        <option value="mercedes">LG</option>
        <option value="audi">3S</option>
    </select>

    <select>
        <option value="volvo">Begonia</option>
        <option value="saab">Germanium</option>
        <option value="mercedes">Cosmos</option>
        <option value="audi">Tulip</option>
    </select>

</div>

</html>
