<!--
    Provides an interface to view and interact with all Bed specific data.

    @author Iteration 2 - Team Omar Anwar
    @editor Iteration 3 - Team Revolver en Guardia
    @editor Iteration 4 - Team Revolver en Guardia++
-->
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='//fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
        <style>
            /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
            License: none (public domain) */
             html, div, option {
                 margin: 0;
                 padding: 0;
                 border: 0;
                 font-size: 100%;
                 font: inherit;
                 vertical-align: baseline;
             }
        </style>
    </head>

    <div class="bed-dropdown">
        <select class="form-control" (change)="handleBedSelect($event.target.value)">
            <option disabled selected value>Choose Bed</option>
            <option value="ALL">All beds</option>
            <option *ngFor="let bed of bedListService.getBedNames()" [selected]="selectedBed == bed._id">
                {{bed._id}}
            </option>
        </select>
    </div>


</html>
