<!--
    Provides an interface to view and interact with all Common Name specific data.

    @author Iteration 3 - Team Revolver en Guardia
-->
<!DOCTYPE html>

<html>
    <head>
        <style>

        </style>
    </head>

    <div class="common-name-dropdown">
        <select (change)="handleCommonNameSelect($event.target.value)">
            <option value="ALL"></option>
            <option *ngFor="let commonName of commonNameListService.getCommonNames()">
                {{commonName._id}}
            </option>
        </select>
    </div>

</html>
