<!--
    Provides an interface to view and interact with all Common Name specific data.

    @author Iteration 3 - Team Revolver en Guardia
-->
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='//fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
        <style>
            /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
            License: none (public domain) */
            html, div, select, option {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
        </style>
    </head>

    <div class="common-name-dropdown">
        <select class="form-control" (change)="handleCommonNameSelect($event.target.value)">
            <option disabled selected value>Choose Common Name</option>
            <option value="ALL">All common names</option>
            <option *ngFor="let commonName of commonNameListService.getCommonNames()" [selected]="selectedCommonName == commonName._id">
                {{commonName._id}}
            </option>
        </select>
    </div>

</html>
